.container{
    max-width: 1380px;
    margin: 0px auto;
}
.router{
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    &__symbol{
        font-size: 6em;
        color: green;
    }
    &__block{
        display: flex;
        flex-direction: column;
    }
}
.buttons{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-bottom: 10px;
}
