.t-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &__padding{
        padding-top: 20px;
    }
    &__image{
        transform: rotate(90deg);
        left: -1px;
    }
    &__block{
        display: flex;
        justify-content: space-between;
    }
}